@import 'tailwindcss';

@theme {
  --color-mygray-100: #e6e9f0;
  --color-mygray-200: #cdd3e1;
  --color-mygray-300: #aab3cc;
  --color-mygray-400: #555f7d;
  --color-mygray-500: #454f6a;
  --color-mygray-600: #363d56;
  --color-mygray-700: #272f43;
  --color-mygray-800: #181f2e;
  --color-mygray-900: #0a0f1a;

  --color-primary-light: #4de7b7;
  --color-primary: #0da170;
  --color-primary-dark: #065f46;

  --color-link-color: #10b981;
  --color-link-hover: #0b8a60;

  --color-success: #22c55e;
  --color-warning: #eab308;
  --color-error: #991b1b;
  --color-info: #0ea5e9;

  --color-over-primary: #0a0f1a;
  --color-over-primary-dark: #e6e9f0;
  --color-over-primary-light: #0a0f1a;
  --color-over-success: #0a0f1a;
  --color-over-warning: #0a0f1a;
  --color-over-error: #e6e9f0;
  --color-over-info: #0a0f1a;

  --color-default: #e6e9f0;
  --color-muted: #aab3cc;

  --color-disabled: #555f7d;
  --color-disabled: #aab3cc;
}

[data-theme='light'] {
  --color-mygray-100: #0a0f1a;
  --color-mygray-200: #181f2e;
  --color-mygray-300: #272f43;
  --color-mygray-400: #363d56;
  --color-mygray-500: #454f6a;
  --color-mygray-600: #555f7d;
  --color-mygray-700: #aab3cc;
  --color-mygray-800: #cdd3e1;
  --color-mygray-900: #e6e9f0;

  --color-default: #0a0f1a;
  --color-muted: #272f43;

  --color-link-color: #0b8a60;
  --color-link-hover: #065f46;
}

input:focus::placeholder {
  opacity: 0;
  transition-duration: 150ms;
}

input::placeholder {
  opacity: 100;
  transition-duration: 150ms;
}

.TextoTempo{
  font-size: clamp(8rem, 30vw, 9.75rem);
}


